# base api
VITE_API_BASE_URL=http://127.0.0.1:8000/api

# bills api
VITE_BILL_LIST_PAGINATION_URL=/finance/bills/list/pagination/
VITE_BILL_DETAIL_URL=/finance/bills/detail
VITE_BILL_DETAIL_UPDATE_URL=/finance/bills/detail/update
VITE_BILLPOST_URL=/finance/bills_write

# currencies api
VITE_CURRENCIES_URL=/finance/currencies_write

# customers api
VITE_CUSTOMER_URL=/hr/customers
VITE_CUSTOMER_LIST_PAGINATION_URL=/hr/customers/list/pagination
VITE_CUSTOMER_DETAIL_URL=/hr/customers/detail
VITE_CUSTOMER_ORDER_NO_BILL_URL=/hr/customers/orders/nobill

# customer dependencies api
VITE_CUSTOMER_DEPENDENCY_URL=/hr/dependencies

# items api
VITE_ITEM_URL=/stock/items
VITE_ITEM_LIST_PAGINATION_URL=/stock/items/list/pagination

# kits api
VITE_KIT_URL=/stock/kits
VITE_KIT_LIST_PAGINATION_URL=/stock/kits/list/pagination

# orders api
VITE_ORDER_LIST_URL=/finance/orders/list
VITE_ORDER_LIST_PAGINATION_URL=/finance/orders/list/pagination
VITE_ORDER_DETAIL_URL=/finance/orders/detail
VITE_ORDER_POST_URL=/finance/orders_write
VITE_ORDER_FROM_CUSTOMER_NOT_MATCHED_URL=/finance/orders/fromcustomernotmatched
VITE_ORDER_FROM_CUSTOMER_URL=/finance/orders/fromcustomer
VITE_ORDER_NOT_MATCHED_URL=/finance/orders/notmatched

# providers api
VITE_PROVIDER_URL=/hr/providers
VITE_PROVIDER_LIST_PAGINATION_URL=/hr/providers/list/pagination
VITE_PROVIDER_CURRENCY_ORDER_NO_BILL_URL=/hr/providers/orders/nobill

# auth api
VITE_TOKEN_PAIR_URL=/auth/token/
VITE_REFRESH_TOKEN_URL=/auth/token/refresh/