# DATABASE
MARIADB_DATABASE_DEV=mariadb_refriall_dev
MARIADB_DATABASE=mariadb_refriall_prod
MARIADB_USER=root
MARIADB_ROOT_PASSWORD=secret
MARIADB_HOST=127.0.0.1
MARIADB_PORT=3306
# DJANGO
SECRET_KEY=secret
DJANGO_SETTINGS_MODULE=project.settings.prod
# SIMPLEJWT
ACCESS_TOKEN_LIFETIME=15
REFRESH_TOKEN_LIFETIME=1
ROTATE_REFRESH_TOKENS=True